<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YedekAl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <YedekAl.Properties.Settings>
            <setting name="serviceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="backupPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="compressCmd" serializeAs="String">
                <value/>
            </setting>
            <setting name="copyCmd" serializeAs="String">
                <value/>
            </setting>
        </YedekAl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
